{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="absolute inset-x-0 bg-white shadow-xl pb-44 pt-28 opacity-90">
  <div class="">
    <h1 class="flex justify-center text-6xl font-semibold motion-safe:hover:animate-pulse hover:text-blue-600">Skyler Johnson</h1>&nbsp&nbsp&nbsp&nbsp
    <p class="flex justify-center text-2xl font-semibold ">Im Skyler yeah!</p>&nbsp&nbsp&nbsp&nbsp
    <!-- <img class="flex justify-center"src="https://via.placeholder.com/300.png/09f/fff" alt="Skyler_Pic"> -->
    <h1 class="flex justify-center text-6xl font-semibold motion-safe:hover:animate-pulse hover:text-red-600">Hunter Britten</h1>&nbsp&nbsp&nbsp&nbsp
    <p class="flex justify-center text-2xl font-semibold ">Oh yeah I'm Hunter!</p>
    <p class="flex justify-center pt-10 pb-5 text-6xl font-semibold motion-safe:hover:animate-pulse hover:text-green-700">Zach Hornung</p>
    <p class="flex justify-center text-2xl font-semibold ">Zach? Yeah thats me!</p>
    <p class="flex justify-center pt-10 pb-5 text-6xl font-semibold motion-safe:hover:animate-pulse hover:text-purple-700">Kyle Hoac</p>
    <p class="flex justify-center text-2xl font-semibold ">Uh Huh! Im Kyle!</p>

  </div>
</div>
{% endblock content %}
