{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
      </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Tracker</title>
  </head>
  <body>
      <header class="flex justify-around bg-gray-300 bg-opacity-50">
          <h1 class="text-3xl">Warehouse Tracker</h1>
          <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About Us</a>
            <a href="{% url 'tool_info' %}">Tool Info</a>
            <a href="{% url 'search' %}">Search</a>
            <a href="{% url 'my_warehouses' %}">My Warehouses</a>
            <a href="{% url 'login' %}">Log In</a>
          </nav>
      </header>
      {% block content %}
      <p>Content unique to template goes here.</p>
      {% endblock content %}
</body>
<footer>
  <nav>
    &copy 2021
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About Us</a>
    <a href="{% url 'tool_info' %}">Tool Info</a>
    <a href="{% url 'search' %}">Search</a>
  </nav>
</footer>
</html>
