{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="pt-10 pb-32 bg-white shadow-xl top-64 opacity-90">
  <div class="">
    <p class="flex justify-center text-5xl font-semibold motion-safe:hover:animate-pulse hover:text-blue-600">Analyze</p>&nbsp&nbsp&nbsp&nbsp
    <p class="flex justify-center text-2xl text-center font-semibold ">Analyze your warehouse data with our easy to use tool. <br>Create a new warehouse through our easy to use create form or upload you csv file to generate your warehouse.</p>&nbsp&nbsp&nbsp&nbsp
    <p class="flex justify-center text-5xl font-semibold motion-safe:hover:animate-pulse hover:text-red-600">Optimize</p>&nbsp&nbsp&nbsp&nbsp
    <p class="flex justify-center text-2xl font-semibold ">Optimize your warehouse by velocity for better efficiency and keeping your walking to a minimum saving you time.</p>
    <p class="flex justify-center pt-8 pb-4 text-5xl font-semibold motion-safe:hover:animate-pulse hover:text-green-700">Organize</p>
    <p class="flex justify-center text-2xl font-semibold mb-10">Organize your facility to your liking based on your company's needs.</p>
    <div class="w-2/5 h-3/5 mx-auto" >
      <script class="" src="https://gist.github.com/zachhornung/a6699f9f99525393a26054e1606fe992.js"></script>
    </div>
  </div>
</div>
{% endblock content %}
