{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="inset-x-0 pt-32 pb-32 bg-white shadow-xl top-64 opacity-90">
  <div>
    <h1 class="flex justify-center text-5xl font-semibold p-2">My Warehouses</h1>
    <h2 class="flex justify-center text-2xl p-1">Warehouse: {{ warehouse.name }}</h2>
    <h2 class="flex justify-center text-2xl p-1">Owner: {{ warehouse.owner }}</h2>
    <h2 class="flex justify-center text-2xl p-1">Description: {{ warehouse.description }}</h2>
    {% if items %}
      {% for item in items %}
        {% if item.warehouse == warehouse %}
        <h2 class="flex justify-center text-2xl p-1">Item: {{ item.item_name }}, Stock: {{ item.units_in_inventory }}</h2>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <form class="text-center py-6" action="upload/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="text-2xl" for='file'>Upload A CSV File</label>
    <br>
    <input class="w-56 py-2" type="file" name='file'>
    <input type='number' name='warehouse_id' hidden='true' value='{{warehouse.id}}'>
    <input type='text' name='warehouse_name' hidden='true' value='{{warehouse.name}}'>
    <p>Only Accepts CSV Files</p>
    <button class="flex justify-center p-3 px-5 pb-3 mx-auto mt-10 text-black text-lg transform bg-green-500 border-solid rounded motion-safe:hover:animate-pulse" type='submit'>Upload</button>
  </form>
  <div class="text-center py-4">
    <a class="px-4 mx-4 my-2 items-center p-2 bg-green-500 text-lg text-white border-solid rounded hover:bg-green-600" href="{% url 'warehouse_update_view' warehouse.pk %}">Update Warehouse</a>
    <a class="px-4 mx-4 my-2 items-center p-2 bg-green-500 text-lg text-white border-solid rounded hover:bg-green-600" href="{% url 'warehouse_delete_view' warehouse.pk %}">Delete Warehouse</a>
  </div>
</div>
{% endblock content %}
