@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url('warehouse_background_test.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Manrope', sans-serif;
    background-attachment: fixed;
    background-position: left top;
    position: absolute;
}
