@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url('warehouse_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Manrope', sans-serif;
}
